# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

password.db
# Ignore Gradle wrapper files
gradlew
gradlew.bat
# Ignore local configuration files
local.properties
# Ignore Android Studio project-specific cache directory
.idea

*.class
*.iml
*.ipr
*.iws
*.log
*.war
*.war.original
*.jar
*.orig
*.bak
*.swp
*.swo
*.exe
*.dll
*.so
*.dylib
*.classpath
*.project
*.settings
*.factorypath